<!DOCTYPE html>

<!-- root element wrapping application, similar to React -->
<div id="app">
    <h1>{{greeting}}</h1>
</div>

<!-- How we import Vue functionality - similar to jQuery -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    // create new Vue instance everytime we want to use this library
    new Vue({
        // root element selector (similar to React)
        el: "#app",
        // 'data' is an object that contains our variables
        data: {
            greeting: "Hello Vue App",
        },
    });
</script>
